Tests/resources/bullhornstaffing.local.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apiservice.bullhorn.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://apiservice.bullhorn.com/" name="ApiService">
	<types>
	</types>
	<message name="getFile">
		<part name="parameters" element="tns:getFile"></part>
	</message>
	<message name="getFileResponse">
		<part name="parameters" element="tns:getFileResponse"></part>
	</message>
	<message name="deleteFile">
		<part name="parameters" element="tns:deleteFile"></part>
	</message>
	<message name="deleteFileResponse">
		<part name="parameters" element="tns:deleteFileResponse"></part>
	</message>
	<message name="eventsSubscribe">
		<part name="parameters" element="tns:eventsSubscribe"></part>
	</message>
	<message name="eventsSubscribeResponse">
		<part name="parameters" element="tns:eventsSubscribeResponse"></part>
	</message>
	<message name="eventsUnsubscribe">
		<part name="parameters" element="tns:eventsUnsubscribe"></part>
	</message>
	<message name="eventsUnsubscribeResponse">
		<part name="parameters" element="tns:eventsUnsubscribeResponse"></part>
	</message>
	<message name="getEntityNotes">
		<part name="parameters" element="tns:getEntityNotes"></part>
	</message>
	<message name="getEntityNotesResponse">
		<part name="parameters" element="tns:getEntityNotesResponse"></part>
	</message>
	<message name="getEntityNotesWhere">
		<part name="parameters" element="tns:getEntityNotesWhere"></part>
	</message>
	<message name="getEntityNotesWhereResponse">
		<part name="parameters" element="tns:getEntityNotesWhereResponse"></part>
	</message>
	<message name="getNoteReferences">
		<part name="parameters" element="tns:getNoteReferences"></part>
	</message>
	<message name="getNoteReferencesResponse">
		<part name="parameters" element="tns:getNoteReferencesResponse"></part>
	</message>
	<message name="addNoteReference">
		<part name="parameters" element="tns:addNoteReference"></part>
	</message>
	<message name="addNoteReferenceResponse">
		<part name="parameters" element="tns:addNoteReferenceResponse"></part>
	</message>
	<message name="removeNoteReference">
		<part name="parameters" element="tns:removeNoteReference"></part>
	</message>
	<message name="removeNoteReferenceResponse">
		<part name="parameters" element="tns:removeNoteReferenceResponse"></part>
	</message>
	<message name="getEntityMetadata">
		<part name="parameters" element="tns:getEntityMetadata"></part>
	</message>
	<message name="getEntityMetadataResponse">
		<part name="parameters" element="tns:getEntityMetadataResponse"></part>
	</message>
	<message name="getJobOrderMetadata">
		<part name="parameters" element="tns:getJobOrderMetadata"></part>
	</message>
	<message name="getJobOrderMetadataResponse">
		<part name="parameters" element="tns:getJobOrderMetadataResponse"></part>
	</message>
	<message name="_eventsGenerateBogusEvents">
		<part name="parameters" element="tns:_eventsGenerateBogusEvents"></part>
	</message>
	<message name="_eventsGenerateBogusEventsResponse">
		<part name="parameters" element="tns:_eventsGenerateBogusEventsResponse"></part>
	</message>
	<message name="_eventsGenerateBogusJobMatchSearchEvents">
		<part name="parameters" element="tns:_eventsGenerateBogusJobMatchSearchEvents"></part>
	</message>
	<message name="_eventsGenerateBogusJobMatchSearchEventsResponse">
		<part name="parameters" element="tns:_eventsGenerateBogusJobMatchSearchEventsResponse"></part>
	</message>
	<message name="_eventsGenerateBogusFieldMapChangeEvents">
		<part name="parameters" element="tns:_eventsGenerateBogusFieldMapChangeEvents"></part>
	</message>
	<message name="_eventsGenerateBogusFieldMapChangeEventsResponse">
		<part name="parameters" element="tns:_eventsGenerateBogusFieldMapChangeEventsResponse"></part>
	</message>
	<message name="eventsGetEvents">
		<part name="parameters" element="tns:eventsGetEvents"></part>
	</message>
	<message name="eventsGetEventsResponse">
		<part name="parameters" element="tns:eventsGetEventsResponse"></part>
	</message>
	<message name="eventsGetLastRequestId">
		<part name="parameters" element="tns:eventsGetLastRequestId"></part>
	</message>
	<message name="eventsGetLastRequestIdResponse">
		<part name="parameters" element="tns:eventsGetLastRequestIdResponse"></part>
	</message>
	<message name="eventsRegetEvents">
		<part name="parameters" element="tns:eventsRegetEvents"></part>
	</message>
	<message name="eventsRegetEventsResponse">
		<part name="parameters" element="tns:eventsRegetEventsResponse"></part>
	</message>
	<message name="getApplicationServerHost">
		<part name="parameters" element="tns:getApplicationServerHost"></part>
	</message>
	<message name="getApplicationServerHostResponse">
		<part name="parameters" element="tns:getApplicationServerHostResponse"></part>
	</message>
	<message name="getCertifications">
		<part name="parameters" element="tns:getCertifications"></part>
	</message>
	<message name="getCertificationsResponse">
		<part name="parameters" element="tns:getCertificationsResponse"></part>
	</message>
	<message name="getEntityFiles">
		<part name="parameters" element="tns:getEntityFiles"></part>
	</message>
	<message name="getEntityFilesResponse">
		<part name="parameters" element="tns:getEntityFilesResponse"></part>
	</message>
	<message name="addFile">
		<part name="parameters" element="tns:addFile"></part>
	</message>
	<message name="addFileResponse">
		<part name="parameters" element="tns:addFileResponse"></part>
	</message>
	<message name="updateFile">
		<part name="parameters" element="tns:updateFile"></part>
	</message>
	<message name="updateFileResponse">
		<part name="parameters" element="tns:updateFileResponse"></part>
	</message>
	<message name="getJobOrderTemplateIds">
		<part name="parameters" element="tns:getJobOrderTemplateIds"></part>
	</message>
	<message name="getJobOrderTemplateIdsResponse">
		<part name="parameters" element="tns:getJobOrderTemplateIdsResponse"></part>
	</message>
	<message name="getJobOrderTemplateMetadata">
		<part name="parameters" element="tns:getJobOrderTemplateMetadata"></part>
	</message>
	<message name="getJobOrderTemplateMetadataResponse">
		<part name="parameters" element="tns:getJobOrderTemplateMetadataResponse"></part>
	</message>
	<message name="getJobOrderTemplateDataIds">
		<part name="parameters" element="tns:getJobOrderTemplateDataIds"></part>
	</message>
	<message name="getJobOrderTemplateDataIdsResponse">
		<part name="parameters" element="tns:getJobOrderTemplateDataIdsResponse"></part>
	</message>
	<message name="getJobOrderTemplateData">
		<part name="parameters" element="tns:getJobOrderTemplateData"></part>
	</message>
	<message name="getJobOrderTemplateDataResponse">
		<part name="parameters" element="tns:getJobOrderTemplateDataResponse"></part>
	</message>
	<message name="getUserTemplateIds">
		<part name="parameters" element="tns:getUserTemplateIds"></part>
	</message>
	<message name="getUserTemplateIdsResponse">
		<part name="parameters" element="tns:getUserTemplateIdsResponse"></part>
	</message>
	<message name="getUserTemplateMetadata">
		<part name="parameters" element="tns:getUserTemplateMetadata"></part>
	</message>
	<message name="getUserTemplateMetadataResponse">
		<part name="parameters" element="tns:getUserTemplateMetadataResponse"></part>
	</message>
	<message name="getUserTemplateDataIds">
		<part name="parameters" element="tns:getUserTemplateDataIds"></part>
	</message>
	<message name="getUserTemplateDataIdsResponse">
		<part name="parameters" element="tns:getUserTemplateDataIdsResponse"></part>
	</message>
	<message name="getUserTemplateData">
		<part name="parameters" element="tns:getUserTemplateData"></part>
	</message>
	<message name="getUserTemplateDataResponse">
		<part name="parameters" element="tns:getUserTemplateDataResponse"></part>
	</message>
	<message name="getClientCorporationTemplateIds">
		<part name="parameters" element="tns:getClientCorporationTemplateIds"></part>
	</message>
	<message name="getClientCorporationTemplateIdsResponse">
		<part name="parameters" element="tns:getClientCorporationTemplateIdsResponse"></part>
	</message>
	<message name="getClientCorporationTemplateMetadata">
		<part name="parameters" element="tns:getClientCorporationTemplateMetadata"></part>
	</message>
	<message name="getClientCorporationTemplateMetadataResponse">
		<part name="parameters" element="tns:getClientCorporationTemplateMetadataResponse"></part>
	</message>
	<message name="getClientCorporationTemplateDataIds">
		<part name="parameters" element="tns:getClientCorporationTemplateDataIds"></part>
	</message>
	<message name="getClientCorporationTemplateDataIdsResponse">
		<part name="parameters" element="tns:getClientCorporationTemplateDataIdsResponse"></part>
	</message>
	<message name="getClientCorporationTemplateData">
		<part name="parameters" element="tns:getClientCorporationTemplateData"></part>
	</message>
	<message name="getClientCorporationTemplateDataResponse">
		<part name="parameters" element="tns:getClientCorporationTemplateDataResponse"></part>
	</message>
	<message name="parseResume">
		<part name="parameters" element="tns:parseResume"></part>
	</message>
	<message name="parseResumeResponse">
		<part name="parameters" element="tns:parseResumeResponse"></part>
	</message>
	<message name="eventsCount">
		<part name="parameters" element="tns:eventsCount"></part>
	</message>
	<message name="eventsCountResponse">
		<part name="parameters" element="tns:eventsCountResponse"></part>
	</message>
	<message name="getEditHistory">
		<part name="parameters" element="tns:getEditHistory"></part>
	</message>
	<message name="getEditHistoryResponse">
		<part name="parameters" element="tns:getEditHistoryResponse"></part>
	</message>
	<message name="getEditHistoryByTransactionId">
		<part name="parameters" element="tns:getEditHistoryByTransactionId"></part>
	</message>
	<message name="getEditHistoryByTransactionIdResponse">
		<part name="parameters" element="tns:getEditHistoryByTransactionIdResponse"></part>
	</message>
	<message name="getEditHistoryByDates">
		<part name="parameters" element="tns:getEditHistoryByDates"></part>
	</message>
	<message name="getEditHistoryByDatesResponse">
		<part name="parameters" element="tns:getEditHistoryByDatesResponse"></part>
	</message>
	<message name="find">
		<part name="parameters" element="tns:find"></part>
	</message>
	<message name="findResponse">
		<part name="parameters" element="tns:findResponse"></part>
	</message>
	<message name="save">
		<part name="parameters" element="tns:save"></part>
	</message>
	<message name="saveResponse">
		<part name="parameters" element="tns:saveResponse"></part>
	</message>
	<message name="delete">
		<part name="parameters" element="tns:delete"></part>
	</message>
	<message name="deleteResponse">
		<part name="parameters" element="tns:deleteResponse"></part>
	</message>
	<message name="query">
		<part name="parameters" element="tns:query"></part>
	</message>
	<message name="queryResponse">
		<part name="parameters" element="tns:queryResponse"></part>
	</message>
	<message name="associate">
		<part name="parameters" element="tns:associate"></part>
	</message>
	<message name="associateResponse">
		<part name="parameters" element="tns:associateResponse"></part>
	</message>
	<message name="findMultiple">
		<part name="parameters" element="tns:findMultiple"></part>
	</message>
	<message name="findMultipleResponse">
		<part name="parameters" element="tns:findMultipleResponse"></part>
	</message>
	<message name="deleteById">
		<part name="parameters" element="tns:deleteById"></part>
	</message>
	<message name="deleteByIdResponse">
		<part name="parameters" element="tns:deleteByIdResponse"></part>
	</message>
	<message name="getAssociationIds">
		<part name="parameters" element="tns:getAssociationIds"></part>
	</message>
	<message name="getAssociationIdsResponse">
		<part name="parameters" element="tns:getAssociationIdsResponse"></part>
	</message>
	<message name="associateMultiple">
		<part name="parameters" element="tns:associateMultiple"></part>
	</message>
	<message name="associateMultipleResponse">
		<part name="parameters" element="tns:associateMultipleResponse"></part>
	</message>
	<message name="unassociate">
		<part name="parameters" element="tns:unassociate"></part>
	</message>
	<message name="unassociateResponse">
		<part name="parameters" element="tns:unassociateResponse"></part>
	</message>
	<message name="unassociateMultiple">
		<part name="parameters" element="tns:unassociateMultiple"></part>
	</message>
	<message name="unassociateMultipleResponse">
		<part name="parameters" element="tns:unassociateMultipleResponse"></part>
	</message>
	<message name="getDepartmentUserIds">
		<part name="parameters" element="tns:getDepartmentUserIds"></part>
	</message>
	<message name="getDepartmentUserIdsResponse">
		<part name="parameters" element="tns:getDepartmentUserIdsResponse"></part>
	</message>
	<message name="getUserDepartmentIds">
		<part name="parameters" element="tns:getUserDepartmentIds"></part>
	</message>
	<message name="getUserDepartmentIdsResponse">
		<part name="parameters" element="tns:getUserDepartmentIdsResponse"></part>
	</message>
	<message name="getUserPrimaryDepartmentId">
		<part name="parameters" element="tns:getUserPrimaryDepartmentId"></part>
	</message>
	<message name="getUserPrimaryDepartmentIdResponse">
		<part name="parameters" element="tns:getUserPrimaryDepartmentIdResponse"></part>
	</message>
	<message name="getUserTypes">
		<part name="parameters" element="tns:getUserTypes"></part>
	</message>
	<message name="getUserTypesResponse">
		<part name="parameters" element="tns:getUserTypesResponse"></part>
	</message>
	<message name="_exportApiEnums">
		<part name="parameters" element="tns:_exportApiEnums"></part>
	</message>
	<message name="_exportApiEnumsResponse">
		<part name="parameters" element="tns:_exportApiEnumsResponse"></part>
	</message>
	<message name="getEntityFieldMaps">
		<part name="parameters" element="tns:getEntityFieldMaps"></part>
	</message>
	<message name="getEntityFieldMapsResponse">
		<part name="parameters" element="tns:getEntityFieldMapsResponse"></part>
	</message>
	<message name="getJobOrderFieldMaps">
		<part name="parameters" element="tns:getJobOrderFieldMaps"></part>
	</message>
	<message name="getJobOrderFieldMapsResponse">
		<part name="parameters" element="tns:getJobOrderFieldMapsResponse"></part>
	</message>
	<message name="getViewLayout">
		<part name="parameters" element="tns:getViewLayout"></part>
	</message>
	<message name="getViewLayoutResponse">
		<part name="parameters" element="tns:getViewLayoutResponse"></part>
	</message>
	<message name="getJobOrderViewLayout">
		<part name="parameters" element="tns:getJobOrderViewLayout"></part>
	</message>
	<message name="getJobOrderViewLayoutResponse">
		<part name="parameters" element="tns:getJobOrderViewLayoutResponse"></part>
	</message>
	<message name="startSession">
		<part name="parameters" element="tns:startSession"></part>
	</message>
	<message name="startSessionResponse">
		<part name="parameters" element="tns:startSessionResponse"></part>
	</message>
	<message name="startPartnerSession">
		<part name="parameters" element="tns:startPartnerSession"></part>
	</message>
	<message name="startPartnerSessionResponse">
		<part name="parameters" element="tns:startPartnerSessionResponse"></part>
	</message>
	<portType name="ApiService">
		<operation name="getFile">
			<input message="tns:getFile"></input>
			<output message="tns:getFileResponse"></output>
		</operation>
		<operation name="deleteFile">
			<input message="tns:deleteFile"></input>
			<output message="tns:deleteFileResponse"></output>
		</operation>
		<operation name="eventsSubscribe">
			<input message="tns:eventsSubscribe"></input>
			<output message="tns:eventsSubscribeResponse"></output>
		</operation>
		<operation name="eventsUnsubscribe">
			<input message="tns:eventsUnsubscribe"></input>
			<output message="tns:eventsUnsubscribeResponse"></output>
		</operation>
		<operation name="getEntityNotes">
			<input message="tns:getEntityNotes"></input>
			<output message="tns:getEntityNotesResponse"></output>
		</operation>
		<operation name="getEntityNotesWhere">
			<input message="tns:getEntityNotesWhere"></input>
			<output message="tns:getEntityNotesWhereResponse"></output>
		</operation>
		<operation name="getNoteReferences">
			<input message="tns:getNoteReferences"></input>
			<output message="tns:getNoteReferencesResponse"></output>
		</operation>
		<operation name="addNoteReference">
			<input message="tns:addNoteReference"></input>
			<output message="tns:addNoteReferenceResponse"></output>
		</operation>
		<operation name="removeNoteReference">
			<input message="tns:removeNoteReference"></input>
			<output message="tns:removeNoteReferenceResponse"></output>
		</operation>
		<operation name="getEntityMetadata">
			<input message="tns:getEntityMetadata"></input>
			<output message="tns:getEntityMetadataResponse"></output>
		</operation>
		<operation name="getJobOrderMetadata">
			<input message="tns:getJobOrderMetadata"></input>
			<output message="tns:getJobOrderMetadataResponse"></output>
		</operation>
		<operation name="_eventsGenerateBogusEvents">
			<input message="tns:_eventsGenerateBogusEvents"></input>
			<output message="tns:_eventsGenerateBogusEventsResponse"></output>
		</operation>
		<operation name="_eventsGenerateBogusJobMatchSearchEvents">
			<input message="tns:_eventsGenerateBogusJobMatchSearchEvents"></input>
			<output message="tns:_eventsGenerateBogusJobMatchSearchEventsResponse"></output>
		</operation>
		<operation name="_eventsGenerateBogusFieldMapChangeEvents">
			<input message="tns:_eventsGenerateBogusFieldMapChangeEvents"></input>
			<output message="tns:_eventsGenerateBogusFieldMapChangeEventsResponse"></output>
		</operation>
		<operation name="eventsGetEvents">
			<input message="tns:eventsGetEvents"></input>
			<output message="tns:eventsGetEventsResponse"></output>
		</operation>
		<operation name="eventsGetLastRequestId">
			<input message="tns:eventsGetLastRequestId"></input>
			<output message="tns:eventsGetLastRequestIdResponse"></output>
		</operation>
		<operation name="eventsRegetEvents">
			<input message="tns:eventsRegetEvents"></input>
			<output message="tns:eventsRegetEventsResponse"></output>
		</operation>
		<operation name="getApplicationServerHost">
			<input message="tns:getApplicationServerHost"></input>
			<output message="tns:getApplicationServerHostResponse"></output>
		</operation>
		<operation name="getCertifications">
			<input message="tns:getCertifications"></input>
			<output message="tns:getCertificationsResponse"></output>
		</operation>
		<operation name="getEntityFiles">
			<input message="tns:getEntityFiles"></input>
			<output message="tns:getEntityFilesResponse"></output>
		</operation>
		<operation name="addFile">
			<input message="tns:addFile"></input>
			<output message="tns:addFileResponse"></output>
		</operation>
		<operation name="updateFile">
			<input message="tns:updateFile"></input>
			<output message="tns:updateFileResponse"></output>
		</operation>
		<operation name="getJobOrderTemplateIds">
			<input message="tns:getJobOrderTemplateIds"></input>
			<output message="tns:getJobOrderTemplateIdsResponse"></output>
		</operation>
		<operation name="getJobOrderTemplateMetadata">
			<input message="tns:getJobOrderTemplateMetadata"></input>
			<output message="tns:getJobOrderTemplateMetadataResponse"></output>
		</operation>
		<operation name="getJobOrderTemplateDataIds">
			<input message="tns:getJobOrderTemplateDataIds"></input>
			<output message="tns:getJobOrderTemplateDataIdsResponse"></output>
		</operation>
		<operation name="getJobOrderTemplateData">
			<input message="tns:getJobOrderTemplateData"></input>
			<output message="tns:getJobOrderTemplateDataResponse"></output>
		</operation>
		<operation name="getUserTemplateIds">
			<input message="tns:getUserTemplateIds"></input>
			<output message="tns:getUserTemplateIdsResponse"></output>
		</operation>
		<operation name="getUserTemplateMetadata">
			<input message="tns:getUserTemplateMetadata"></input>
			<output message="tns:getUserTemplateMetadataResponse"></output>
		</operation>
		<operation name="getUserTemplateDataIds">
			<input message="tns:getUserTemplateDataIds"></input>
			<output message="tns:getUserTemplateDataIdsResponse"></output>
		</operation>
		<operation name="getUserTemplateData">
			<input message="tns:getUserTemplateData"></input>
			<output message="tns:getUserTemplateDataResponse"></output>
		</operation>
		<operation name="getClientCorporationTemplateIds">
			<input message="tns:getClientCorporationTemplateIds"></input>
			<output message="tns:getClientCorporationTemplateIdsResponse"></output>
		</operation>
		<operation name="getClientCorporationTemplateMetadata">
			<input message="tns:getClientCorporationTemplateMetadata"></input>
			<output message="tns:getClientCorporationTemplateMetadataResponse"></output>
		</operation>
		<operation name="getClientCorporationTemplateDataIds">
			<input message="tns:getClientCorporationTemplateDataIds"></input>
			<output message="tns:getClientCorporationTemplateDataIdsResponse"></output>
		</operation>
		<operation name="getClientCorporationTemplateData">
			<input message="tns:getClientCorporationTemplateData"></input>
			<output message="tns:getClientCorporationTemplateDataResponse"></output>
		</operation>
		<operation name="parseResume">
			<input message="tns:parseResume"></input>
			<output message="tns:parseResumeResponse"></output>
		</operation>
		<operation name="eventsCount">
			<input message="tns:eventsCount"></input>
			<output message="tns:eventsCountResponse"></output>
		</operation>
		<operation name="getEditHistory">
			<input message="tns:getEditHistory"></input>
			<output message="tns:getEditHistoryResponse"></output>
		</operation>
		<operation name="getEditHistoryByTransactionId">
			<input message="tns:getEditHistoryByTransactionId"></input>
			<output message="tns:getEditHistoryByTransactionIdResponse"></output>
		</operation>
		<operation name="getEditHistoryByDates">
			<input message="tns:getEditHistoryByDates"></input>
			<output message="tns:getEditHistoryByDatesResponse"></output>
		</operation>
		<operation name="find">
			<input message="tns:find"></input>
			<output message="tns:findResponse"></output>
		</operation>
		<operation name="save">
			<input message="tns:save"></input>
			<output message="tns:saveResponse"></output>
		</operation>
		<operation name="delete">
			<input message="tns:delete"></input>
			<output message="tns:deleteResponse"></output>
		</operation>
		<operation name="query">
			<input message="tns:query"></input>
			<output message="tns:queryResponse"></output>
		</operation>
		<operation name="associate">
			<input message="tns:associate"></input>
			<output message="tns:associateResponse"></output>
		</operation>
		<operation name="findMultiple">
			<input message="tns:findMultiple"></input>
			<output message="tns:findMultipleResponse"></output>
		</operation>
		<operation name="deleteById">
			<input message="tns:deleteById"></input>
			<output message="tns:deleteByIdResponse"></output>
		</operation>
		<operation name="getAssociationIds">
			<input message="tns:getAssociationIds"></input>
			<output message="tns:getAssociationIdsResponse"></output>
		</operation>
		<operation name="associateMultiple">
			<input message="tns:associateMultiple"></input>
			<output message="tns:associateMultipleResponse"></output>
		</operation>
		<operation name="unassociate">
			<input message="tns:unassociate"></input>
			<output message="tns:unassociateResponse"></output>
		</operation>
		<operation name="unassociateMultiple">
			<input message="tns:unassociateMultiple"></input>
			<output message="tns:unassociateMultipleResponse"></output>
		</operation>
		<operation name="getDepartmentUserIds">
			<input message="tns:getDepartmentUserIds"></input>
			<output message="tns:getDepartmentUserIdsResponse"></output>
		</operation>
		<operation name="getUserDepartmentIds">
			<input message="tns:getUserDepartmentIds"></input>
			<output message="tns:getUserDepartmentIdsResponse"></output>
		</operation>
		<operation name="getUserPrimaryDepartmentId">
			<input message="tns:getUserPrimaryDepartmentId"></input>
			<output message="tns:getUserPrimaryDepartmentIdResponse"></output>
		</operation>
		<operation name="getUserTypes">
			<input message="tns:getUserTypes"></input>
			<output message="tns:getUserTypesResponse"></output>
		</operation>
		<operation name="_exportApiEnums">
			<input message="tns:_exportApiEnums"></input>
			<output message="tns:_exportApiEnumsResponse"></output>
		</operation>
		<operation name="getEntityFieldMaps">
			<input message="tns:getEntityFieldMaps"></input>
			<output message="tns:getEntityFieldMapsResponse"></output>
		</operation>
		<operation name="getJobOrderFieldMaps">
			<input message="tns:getJobOrderFieldMaps"></input>
			<output message="tns:getJobOrderFieldMapsResponse"></output>
		</operation>
		<operation name="getViewLayout">
			<input message="tns:getViewLayout"></input>
			<output message="tns:getViewLayoutResponse"></output>
		</operation>
		<operation name="getJobOrderViewLayout">
			<input message="tns:getJobOrderViewLayout"></input>
			<output message="tns:getJobOrderViewLayoutResponse"></output>
		</operation>
		<operation name="startSession">
			<input message="tns:startSession"></input>
			<output message="tns:startSessionResponse"></output>
		</operation>
		<operation name="startPartnerSession">
			<input message="tns:startPartnerSession"></input>
			<output message="tns:startPartnerSessionResponse"></output>
		</operation>
	</portType>
	<binding name="ApiServicePortBinding" type="tns:ApiService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
		<operation name="getFile">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="deleteFile">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="eventsSubscribe">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="eventsUnsubscribe">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getEntityNotes">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getEntityNotesWhere">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getNoteReferences">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="addNoteReference">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="removeNoteReference">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getEntityMetadata">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getJobOrderMetadata">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="_eventsGenerateBogusEvents">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="_eventsGenerateBogusJobMatchSearchEvents">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="_eventsGenerateBogusFieldMapChangeEvents">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="eventsGetEvents">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="eventsGetLastRequestId">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="eventsRegetEvents">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getApplicationServerHost">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getCertifications">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getEntityFiles">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="addFile">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="updateFile">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getJobOrderTemplateIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getJobOrderTemplateMetadata">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getJobOrderTemplateDataIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getJobOrderTemplateData">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getUserTemplateIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getUserTemplateMetadata">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getUserTemplateDataIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getUserTemplateData">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getClientCorporationTemplateIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getClientCorporationTemplateMetadata">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getClientCorporationTemplateDataIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getClientCorporationTemplateData">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="parseResume">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="eventsCount">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getEditHistory">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getEditHistoryByTransactionId">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getEditHistoryByDates">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="find">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="save">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="delete">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="query">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="associate">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="findMultiple">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="deleteById">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getAssociationIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="associateMultiple">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="unassociate">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="unassociateMultiple">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getDepartmentUserIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getUserDepartmentIds">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getUserPrimaryDepartmentId">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getUserTypes">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="_exportApiEnums">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getEntityFieldMaps">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getJobOrderFieldMaps">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getViewLayout">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getJobOrderViewLayout">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="startSession">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="startPartnerSession">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="ApiService">
		<port name="ApiServicePort" binding="tns:ApiServicePortBinding">
			<soap:address location="https://api.bullhornstaffing.com/webservices-2.5/"></soap:address>
		</port>
	</service>
</definitions>