tests/resources/wcf/Service10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://test/WCFService" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://test/WCFService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://test/WCFService/Imports">
      <xsd:import schemaLocation="Service11.xsd" namespace="http://test/WCFService" />
      <xsd:import schemaLocation="Service1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="Service10.xsd" namespace="http://schemas.datacontract.org/2004/07/test_WCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_order_InputMessage">
    <wsdl:part name="parameters" element="tns:order" />
  </wsdl:message>
  <wsdl:message name="IService1_order_OutputMessage">
    <wsdl:part name="parameters" element="tns:orderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_offer_InputMessage">
    <wsdl:part name="parameters" element="tns:offer" />
  </wsdl:message>
  <wsdl:message name="IService1_offer_OutputMessage">
    <wsdl:part name="parameters" element="tns:offerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="order">
      <wsdl:input wsaw:Action="http://test/WCFService/IService1/order" message="tns:IService1_order_InputMessage" />
      <wsdl:output wsaw:Action="http://test/WCFService/IService1/orderResponse" message="tns:IService1_order_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="offer">
      <wsdl:input wsaw:Action="http://test/WCFService/IService1/offer" message="tns:IService1_offer_InputMessage" />
      <wsdl:output wsaw:Action="http://test/WCFService/IService1/offerResponse" message="tns:IService1_offer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>