tests/resources/VehicleSelectionService/VehicleSelectionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://sphinx.dat.de/services/VehicleSelectionService" name="VehicleSelectionService"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:tns="http://sphinx.dat.de/services/VehicleSelectionService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.dat.de/vxs"
                        schemaLocation="VehicleSelectionService_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://sphinx.dat.de/services/VehicleSelectionService"
                        schemaLocation="VehicleSelectionService_schema2.xsd"/>
        </xsd:schema>
    </types>
    <message name="getVersion">
        <part name="parameters" element="tns:getVersion"/>
    </message>
    <message name="getVersionResponse">
        <part name="parameters" element="tns:getVersionResponse"/>
    </message>
    <message name="getPriceFocusConstructionYears">
        <part name="parameters" element="tns:getPriceFocusConstructionYears"/>
    </message>
    <message name="getPriceFocusConstructionYearsResponse">
        <part name="parameters" element="tns:getPriceFocusConstructionYearsResponse"/>
    </message>
    <message name="getSubModelsByTextSearch">
        <part name="parameters" element="tns:getSubModelsByTextSearch"/>
    </message>
    <message name="getSubModelsByTextSearchResponse">
        <part name="parameters" element="tns:getSubModelsByTextSearchResponse"/>
    </message>
    <message name="getVehicleTypes">
        <part name="parameters" element="tns:getVehicleTypes"/>
    </message>
    <message name="getVehicleTypesResponse">
        <part name="parameters" element="tns:getVehicleTypesResponse"/>
    </message>
    <message name="getManufacturers">
        <part name="parameters" element="tns:getManufacturers"/>
    </message>
    <message name="getManufacturersResponse">
        <part name="parameters" element="tns:getManufacturersResponse"/>
    </message>
    <message name="getBaseModels">
        <part name="parameters" element="tns:getBaseModels"/>
    </message>
    <message name="getBaseModelsResponse">
        <part name="parameters" element="tns:getBaseModelsResponse"/>
    </message>
    <message name="getBaseModelsN">
        <part name="parameters" element="tns:getBaseModelsN"/>
    </message>
    <message name="getBaseModelsNResponse">
        <part name="parameters" element="tns:getBaseModelsNResponse"/>
    </message>
    <message name="getHgvPlatformTypes">
        <part name="parameters" element="tns:getHgvPlatformTypes"/>
    </message>
    <message name="getHgvPlatformTypesResponse">
        <part name="parameters" element="tns:getHgvPlatformTypesResponse"/>
    </message>
    <message name="getHgvPlatformManufacturers">
        <part name="parameters" element="tns:getHgvPlatformManufacturers"/>
    </message>
    <message name="getHgvPlatformManufacturersResponse">
        <part name="parameters" element="tns:getHgvPlatformManufacturersResponse"/>
    </message>
    <message name="getHgvPlatformBaseModels">
        <part name="parameters" element="tns:getHgvPlatformBaseModels"/>
    </message>
    <message name="getHgvPlatformBaseModelsResponse">
        <part name="parameters" element="tns:getHgvPlatformBaseModelsResponse"/>
    </message>
    <message name="getHgvPlatformSubModels">
        <part name="parameters" element="tns:getHgvPlatformSubModels"/>
    </message>
    <message name="getHgvPlatformSubModelsResponse">
        <part name="parameters" element="tns:getHgvPlatformSubModelsResponse"/>
    </message>
    <message name="getHgvPlatformSubModelData">
        <part name="parameters" element="tns:getHgvPlatformSubModelData"/>
    </message>
    <message name="getHgvPlatformSubModelDataResponse">
        <part name="parameters" element="tns:getHgvPlatformSubModelDataResponse"/>
    </message>
    <message name="getHgvPlatformAggregateModels">
        <part name="parameters" element="tns:getHgvPlatformAggregateModels"/>
    </message>
    <message name="getHgvPlatformAggregateModelsResponse">
        <part name="parameters" element="tns:getHgvPlatformAggregateModelsResponse"/>
    </message>
    <message name="getHgvPlatformAggregateModelData">
        <part name="parameters" element="tns:getHgvPlatformAggregateModelData"/>
    </message>
    <message name="getHgvPlatformAggregateModelDataResponse">
        <part name="parameters" element="tns:getHgvPlatformAggregateModelDataResponse"/>
    </message>
    <message name="getClassificationGroups">
        <part name="parameters" element="tns:getClassificationGroups"/>
    </message>
    <message name="getClassificationGroupsResponse">
        <part name="parameters" element="tns:getClassificationGroupsResponse"/>
    </message>
    <message name="getCarBodyOptions">
        <part name="parameters" element="tns:getCarBodyOptions"/>
    </message>
    <message name="getCarBodyOptionsResponse">
        <part name="parameters" element="tns:getCarBodyOptionsResponse"/>
    </message>
    <message name="getConstructionOptions">
        <part name="parameters" element="tns:getConstructionOptions"/>
    </message>
    <message name="getConstructionOptionsResponse">
        <part name="parameters" element="tns:getConstructionOptionsResponse"/>
    </message>
    <message name="getDriversCabOptions">
        <part name="parameters" element="tns:getDriversCabOptions"/>
    </message>
    <message name="getDriversCabOptionsResponse">
        <part name="parameters" element="tns:getDriversCabOptionsResponse"/>
    </message>
    <message name="getEquipmentLineOptions">
        <part name="parameters" element="tns:getEquipmentLineOptions"/>
    </message>
    <message name="getEquipmentLineOptionsResponse">
        <part name="parameters" element="tns:getEquipmentLineOptionsResponse"/>
    </message>
    <message name="getGearingOptions">
        <part name="parameters" element="tns:getGearingOptions"/>
    </message>
    <message name="getGearingOptionsResponse">
        <part name="parameters" element="tns:getGearingOptionsResponse"/>
    </message>
    <message name="getGrossVehicleWeightOptions">
        <part name="parameters" element="tns:getGrossVehicleWeightOptions"/>
    </message>
    <message name="getGrossVehicleWeightOptionsResponse">
        <part name="parameters" element="tns:getGrossVehicleWeightOptionsResponse"/>
    </message>
    <message name="getNumberOfAxleOptions">
        <part name="parameters" element="tns:getNumberOfAxleOptions"/>
    </message>
    <message name="getNumberOfAxleOptionsResponse">
        <part name="parameters" element="tns:getNumberOfAxleOptionsResponse"/>
    </message>
    <message name="getSuspensionOptions">
        <part name="parameters" element="tns:getSuspensionOptions"/>
    </message>
    <message name="getSuspensionOptionsResponse">
        <part name="parameters" element="tns:getSuspensionOptionsResponse"/>
    </message>
    <message name="getTypeOfDriveOptions">
        <part name="parameters" element="tns:getTypeOfDriveOptions"/>
    </message>
    <message name="getTypeOfDriveOptionsResponse">
        <part name="parameters" element="tns:getTypeOfDriveOptionsResponse"/>
    </message>
    <message name="getWheelBaseOptions">
        <part name="parameters" element="tns:getWheelBaseOptions"/>
    </message>
    <message name="getWheelBaseOptionsResponse">
        <part name="parameters" element="tns:getWheelBaseOptionsResponse"/>
    </message>
    <message name="getOptionsbyClassification">
        <part name="parameters" element="tns:getOptionsbyClassification"/>
    </message>
    <message name="getOptionsbyClassificationResponse">
        <part name="parameters" element="tns:getOptionsbyClassificationResponse"/>
    </message>
    <message name="getPriceFocusCases">
        <part name="parameters" element="tns:getPriceFocusCases"/>
    </message>
    <message name="getPriceFocusCasesResponse">
        <part name="parameters" element="tns:getPriceFocusCasesResponse"/>
    </message>
    <message name="getConstructionPeriodsN">
        <part name="parameters" element="tns:getConstructionPeriodsN"/>
    </message>
    <message name="getConstructionPeriodsNResponse">
        <part name="parameters" element="tns:getConstructionPeriodsNResponse"/>
    </message>
    <message name="getVehicleData">
        <part name="parameters" element="tns:getVehicleData"/>
    </message>
    <message name="getVehicleDataResponse">
        <part name="parameters" element="tns:getVehicleDataResponse"/>
    </message>
    <message name="getHgvPlatformAggregateManufacturers">
        <part name="parameters" element="tns:getHgvPlatformAggregateManufacturers"/>
    </message>
    <message name="getHgvPlatformAggregateManufacturersResponse">
        <part name="parameters" element="tns:getHgvPlatformAggregateManufacturersResponse"/>
    </message>
    <message name="getSubModels">
        <part name="parameters" element="tns:getSubModels"/>
    </message>
    <message name="getSubModelsResponse">
        <part name="parameters" element="tns:getSubModelsResponse"/>
    </message>
    <message name="getEngineOptions">
        <part name="parameters" element="tns:getEngineOptions"/>
    </message>
    <message name="getEngineOptionsResponse">
        <part name="parameters" element="tns:getEngineOptionsResponse"/>
    </message>
    <message name="compileDatECode">
        <part name="parameters" element="tns:compileDatECode"/>
    </message>
    <message name="compileDatECodeResponse">
        <part name="parameters" element="tns:compileDatECodeResponse"/>
    </message>
    <portType name="VehicleSelectionService">
        <operation name="getVersion">
            <input wsam:Action="getVersion" message="tns:getVersion"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getVersionResponse"
                    message="tns:getVersionResponse"/>
        </operation>
        <operation name="getPriceFocusConstructionYears">
            <input wsam:Action="getPriceFocusConstructionYears" message="tns:getPriceFocusConstructionYears"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getPriceFocusConstructionYearsResponse"
                    message="tns:getPriceFocusConstructionYearsResponse"/>
        </operation>
        <operation name="getSubModelsByTextSearch">
            <input wsam:Action="getSubModelsByTextSearch" message="tns:getSubModelsByTextSearch"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getSubModelsByTextSearchResponse"
                    message="tns:getSubModelsByTextSearchResponse"/>
        </operation>
        <operation name="getVehicleTypes">
            <input wsam:Action="getVehicleTypes" message="tns:getVehicleTypes"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getVehicleTypesResponse"
                    message="tns:getVehicleTypesResponse"/>
        </operation>
        <operation name="getManufacturers">
            <input wsam:Action="getManufacturers" message="tns:getManufacturers"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getManufacturersResponse"
                    message="tns:getManufacturersResponse"/>
        </operation>
        <operation name="getBaseModels">
            <input wsam:Action="getBaseModels" message="tns:getBaseModels"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getBaseModelsResponse"
                    message="tns:getBaseModelsResponse"/>
        </operation>
        <operation name="getBaseModelsN">
            <input wsam:Action="getBaseModelsN" message="tns:getBaseModelsN"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getBaseModelsNResponse"
                    message="tns:getBaseModelsNResponse"/>
        </operation>
        <operation name="getHgvPlatformTypes">
            <input wsam:Action="getHgvPlatformTypes" message="tns:getHgvPlatformTypes"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getHgvPlatformTypesResponse"
                    message="tns:getHgvPlatformTypesResponse"/>
        </operation>
        <operation name="getHgvPlatformManufacturers">
            <input wsam:Action="getHgvPlatformManufacturers" message="tns:getHgvPlatformManufacturers"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getHgvPlatformManufacturersResponse"
                    message="tns:getHgvPlatformManufacturersResponse"/>
        </operation>
        <operation name="getHgvPlatformBaseModels">
            <input wsam:Action="getHgvPlatformBaseModels" message="tns:getHgvPlatformBaseModels"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getHgvPlatformBaseModelsResponse"
                    message="tns:getHgvPlatformBaseModelsResponse"/>
        </operation>
        <operation name="getHgvPlatformSubModels">
            <input wsam:Action="getHgvPlatformSubModels" message="tns:getHgvPlatformSubModels"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getHgvPlatformSubModelsResponse"
                    message="tns:getHgvPlatformSubModelsResponse"/>
        </operation>
        <operation name="getHgvPlatformSubModelData">
            <input wsam:Action="getHgvPlatformSubModelData" message="tns:getHgvPlatformSubModelData"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getHgvPlatformSubModelDataResponse"
                    message="tns:getHgvPlatformSubModelDataResponse"/>
        </operation>
        <operation name="getHgvPlatformAggregateModels">
            <input wsam:Action="getHgvPlatformAggregateModels" message="tns:getHgvPlatformAggregateModels"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getHgvPlatformAggregateModelsResponse"
                    message="tns:getHgvPlatformAggregateModelsResponse"/>
        </operation>
        <operation name="getHgvPlatformAggregateModelData">
            <input wsam:Action="getHgvPlatformAggregateModelData" message="tns:getHgvPlatformAggregateModelData"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getHgvPlatformAggregateModelDataResponse"
                    message="tns:getHgvPlatformAggregateModelDataResponse"/>
        </operation>
        <operation name="getClassificationGroups">
            <input wsam:Action="getClassificationGroups" message="tns:getClassificationGroups"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getClassificationGroupsResponse"
                    message="tns:getClassificationGroupsResponse"/>
        </operation>
        <operation name="getCarBodyOptions">
            <input wsam:Action="getCarBodyOptions" message="tns:getCarBodyOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getCarBodyOptionsResponse"
                    message="tns:getCarBodyOptionsResponse"/>
        </operation>
        <operation name="getConstructionOptions">
            <input wsam:Action="getConstructionOptions" message="tns:getConstructionOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getConstructionOptionsResponse"
                    message="tns:getConstructionOptionsResponse"/>
        </operation>
        <operation name="getDriversCabOptions">
            <input wsam:Action="getDriversCabOptions" message="tns:getDriversCabOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getDriversCabOptionsResponse"
                    message="tns:getDriversCabOptionsResponse"/>
        </operation>
        <operation name="getEquipmentLineOptions">
            <input wsam:Action="getEquipmentLineOptions" message="tns:getEquipmentLineOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getEquipmentLineOptionsResponse"
                    message="tns:getEquipmentLineOptionsResponse"/>
        </operation>
        <operation name="getGearingOptions">
            <input wsam:Action="getGearingOptions" message="tns:getGearingOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getGearingOptionsResponse"
                    message="tns:getGearingOptionsResponse"/>
        </operation>
        <operation name="getGrossVehicleWeightOptions">
            <input wsam:Action="getGrossVehicleWeightOptions" message="tns:getGrossVehicleWeightOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getGrossVehicleWeightOptionsResponse"
                    message="tns:getGrossVehicleWeightOptionsResponse"/>
        </operation>
        <operation name="getNumberOfAxleOptions">
            <input wsam:Action="getNumberOfAxleOptions" message="tns:getNumberOfAxleOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getNumberOfAxleOptionsResponse"
                    message="tns:getNumberOfAxleOptionsResponse"/>
        </operation>
        <operation name="getSuspensionOptions">
            <input wsam:Action="getSuspensionOptions" message="tns:getSuspensionOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getSuspensionOptionsResponse"
                    message="tns:getSuspensionOptionsResponse"/>
        </operation>
        <operation name="getTypeOfDriveOptions">
            <input wsam:Action="getTypeOfDriveOptions" message="tns:getTypeOfDriveOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getTypeOfDriveOptionsResponse"
                    message="tns:getTypeOfDriveOptionsResponse"/>
        </operation>
        <operation name="getWheelBaseOptions">
            <input wsam:Action="getWheelBaseOptions" message="tns:getWheelBaseOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getWheelBaseOptionsResponse"
                    message="tns:getWheelBaseOptionsResponse"/>
        </operation>
        <operation name="getOptionsbyClassification">
            <input wsam:Action="getOptionsbyClassification" message="tns:getOptionsbyClassification"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getOptionsbyClassificationResponse"
                    message="tns:getOptionsbyClassificationResponse"/>
        </operation>
        <operation name="getPriceFocusCases">
            <input wsam:Action="getPriceFocusCases" message="tns:getPriceFocusCases"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getPriceFocusCasesResponse"
                    message="tns:getPriceFocusCasesResponse"/>
        </operation>
        <operation name="getConstructionPeriodsN">
            <input wsam:Action="getConstructionPeriodsN" message="tns:getConstructionPeriodsN"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getConstructionPeriodsNResponse"
                    message="tns:getConstructionPeriodsNResponse"/>
        </operation>
        <operation name="getVehicleData">
            <input wsam:Action="getVehicleData" message="tns:getVehicleData"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getVehicleDataResponse"
                    message="tns:getVehicleDataResponse"/>
        </operation>
        <operation name="getHgvPlatformAggregateManufacturers">
            <input wsam:Action="getHgvPlatformAggregateManufacturers"
                   message="tns:getHgvPlatformAggregateManufacturers"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getHgvPlatformAggregateManufacturersResponse"
                    message="tns:getHgvPlatformAggregateManufacturersResponse"/>
        </operation>
        <operation name="getSubModels">
            <input wsam:Action="getSubModels" message="tns:getSubModels"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getSubModelsResponse"
                    message="tns:getSubModelsResponse"/>
        </operation>
        <operation name="getEngineOptions">
            <input wsam:Action="getEngineOptions" message="tns:getEngineOptions"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/getEngineOptionsResponse"
                    message="tns:getEngineOptionsResponse"/>
        </operation>
        <operation name="compileDatECode">
            <input wsam:Action="compileDatECode" message="tns:compileDatECode"/>
            <output wsam:Action="http://sphinx.dat.de/services/VehicleSelectionService/VehicleSelectionService/compileDatECodeResponse"
                    message="tns:compileDatECodeResponse"/>
        </operation>
    </portType>
    <binding name="VehicleSelectionServicePortBinding" type="tns:VehicleSelectionService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getVersion">
            <soap:operation soapAction="getVersion"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPriceFocusConstructionYears">
            <soap:operation soapAction="getPriceFocusConstructionYears"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSubModelsByTextSearch">
            <soap:operation soapAction="getSubModelsByTextSearch"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleTypes">
            <soap:operation soapAction="getVehicleTypes"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getManufacturers">
            <soap:operation soapAction="getManufacturers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBaseModels">
            <soap:operation soapAction="getBaseModels"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBaseModelsN">
            <soap:operation soapAction="getBaseModelsN"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHgvPlatformTypes">
            <soap:operation soapAction="getHgvPlatformTypes"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHgvPlatformManufacturers">
            <soap:operation soapAction="getHgvPlatformManufacturers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHgvPlatformBaseModels">
            <soap:operation soapAction="getHgvPlatformBaseModels"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHgvPlatformSubModels">
            <soap:operation soapAction="getHgvPlatformSubModels"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHgvPlatformSubModelData">
            <soap:operation soapAction="getHgvPlatformSubModelData"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHgvPlatformAggregateModels">
            <soap:operation soapAction="getHgvPlatformAggregateModels"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHgvPlatformAggregateModelData">
            <soap:operation soapAction="getHgvPlatformAggregateModelData"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getClassificationGroups">
            <soap:operation soapAction="getClassificationGroups"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCarBodyOptions">
            <soap:operation soapAction="getCarBodyOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getConstructionOptions">
            <soap:operation soapAction="getConstructionOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDriversCabOptions">
            <soap:operation soapAction="getDriversCabOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEquipmentLineOptions">
            <soap:operation soapAction="getEquipmentLineOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGearingOptions">
            <soap:operation soapAction="getGearingOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGrossVehicleWeightOptions">
            <soap:operation soapAction="getGrossVehicleWeightOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getNumberOfAxleOptions">
            <soap:operation soapAction="getNumberOfAxleOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSuspensionOptions">
            <soap:operation soapAction="getSuspensionOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTypeOfDriveOptions">
            <soap:operation soapAction="getTypeOfDriveOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getWheelBaseOptions">
            <soap:operation soapAction="getWheelBaseOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOptionsbyClassification">
            <soap:operation soapAction="getOptionsbyClassification"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPriceFocusCases">
            <soap:operation soapAction="getPriceFocusCases"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getConstructionPeriodsN">
            <soap:operation soapAction="getConstructionPeriodsN"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleData">
            <soap:operation soapAction="getVehicleData"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHgvPlatformAggregateManufacturers">
            <soap:operation soapAction="getHgvPlatformAggregateManufacturers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSubModels">
            <soap:operation soapAction="getSubModels"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEngineOptions">
            <soap:operation soapAction="getEngineOptions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="compileDatECode">
            <soap:operation soapAction="compileDatECode"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="VehicleSelectionService">
        <port name="VehicleSelectionServicePort" binding="tns:VehicleSelectionServicePortBinding">
            <soap:address location="https://gold.datgroup.com/DATECodeSelection/services/VehicleSelectionService"/>
        </port>
    </service>
</definitions>

